body {
  background-color: #f7c9c7; /* Fundo rosa pastel */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #ff4d6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: #ff6798;
}
